
@media screen and (max-width:800px) {
.secondlist21{
  display: none;;
}
.secondlist22 {
  display: block;
}
.a2{
  display:none;
}
.secondlist:hover .secondlist1{
  display:none;
}




.fourlist1{
  display: flex;
  flex-direction: column;
}

  .fourlist2{
    display: none;

  }
  .a51{
    transform: rotate(260deg);
   }
 


}
@media screen and (max-width:500px) {
    .a1{
        display:none
    }
    .a2{
      display:block;;
    }
    .secondlist:hover .secondlist1{
      display:none;
    }

    .a6{
      display: block;
      max-width: 200px;
      width: 100%;
    } 


   .fourlist2{
    display:none;
   }
   .a51{
    transform: rotate(0deg);
   }
}








@media screen and (max-width:768px) {
  .bigimg2{
    display:flex;
  }
  .bigimg1one{
    display:none;
  }

}



@media screen and (max-width: 768px){
  .bigimg1{
 display: none;
  }
  .bigimg1q1{
    background-image: url(img1/26.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    width: 100%;
    max-width: 768px;
    min-height: 480px;
  }
}
@media screen and (max-width: 320px){
  .bigimg1q1{
  display:none;
  }
  .bigimg1q2{
    background-image: url(img1/27.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    width: 100%;
    max-width: 320px;
    min-height: 320px;
  }




 
}

@media screen and (max-width:800px){
  .fivelist  span{

    min-height: 285px;
    max-width: 611px;
    width: 100%;
  }
  .fivelist  h3{

    min-height: 145px;
    max-width: 400px;
    width: 100%;
  }
 
}
@media screen and (max-width:320px){
  .fivelist  span{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    min-height: 163px;
    color: #000000;
  }
  .fivelist  h3{

    min-height: 76px;
    max-width: 400px;
    width: 100%;
  }


}

@media screen and (max-width:968px) {
  .sixlist1{
    display:none;
  }
  .sixlist2{
    background-image: url(img1/31.png);
    min-height: 544px;
    max-width: 968px;
    width: 100%;
      background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
  }
  .sixlist{
    max-width: 1440px;
    width: 100%;
    min-height: 565px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width:656px) {
  .sixlist2{
    display:none;
  }
  .sixlist3{
    background-image: url(img1/32.png);
    min-height: 384px;
    max-width: 656px;
    width: 100%;
      background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
  }
  .sixlist{
    max-width: 1440px;
    width: 100%;
    min-height: 419px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width:320px) {
  .sixlist3{
    display:none;
  }
  .sixlist4{
    background-image: url(img1/33.png);
    min-height: 160px;
    max-width: 264px;
    width: 100%;
      background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
  }
}

@media screen and (max-width:800px){
  .sevenlist  span{

    min-height: 164px;
    max-width: 611px;
    width: 100%;
  }
  .sevenlist  h3{

    min-height: 80px;
    max-width: 400px;
    width: 100%;
  }
  .sixlist  {
    max-width: 1440px;
    width: 100%;
    min-height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width:320px){
  .sevenlist  span{
    font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #000000;

min-height: 113px;
  
  }
  .sevenlist  h3{
    font-family: 'Lenora Premium';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;    
    text-transform: capitalize;
    color: #000000;
    min-height: 63px;
  }
.sevenlist{
  min-height: 274px;
  max-width: 380px;
  width: 100%;
}

}

@media screen and (max-width:768px) {
  .eightlist1four{
    display:none;
  }
  .eightlist1three{
    display:none;
  }
  .eightlist2{
    display:flex;
  }
}

@media screen and (max-width:320px){
  .eightlist{
    display:flex;
        flex-direction: column;
  }
  .eightlist1{
    display: flex;
        flex-direction: column;
  }
  .eightlist2{
    display: flex;
        flex-direction: column;
  }
}


@media screen and (max-width:768px){
  .ninelist2three{
    background-image: url(./img1/46.png);
    max-width: 232px;
    width: 100%;
    min-height: 260px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

  }
  .ninelist2two{
    max-width: 232px;
    width: 100%;
    min-height: 260px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    background-image: url(./img1/49.png);
}
  .ninelist2one{
    max-width: 232px;
    width: 100%;
    min-height: 260px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    background-image: url(./img1/49a.png);
}

.ninelist2{
  max-width: 768px;
  width: 100%;
  min-height: 263px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
}



@media screen and (max-width:320px){
  .ninelist2{
    max-width: 320px;
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}






@media screen and (max-width:1280px) {
  .footer_adress_Narek{
      max-width: 310px;
      width: 100%;
  }
  .footer_adress_text_Narek{
      max-width: 220px;
      width: 100%;
  }
  .footer_hour_Narek{
      max-width: 200px;
      width: 100%;
  }
  .footer_hour_text_Narek{
      max-width: 220px;
      width: 100%;
  }
  .footer_gmail_Narek{
      max-width: 370px;
      width: 100%;
  }
  .footer_gmail_text_Narek{
      max-width: 210px;
      width: 100%;
  }
  .footer_company_Narek{
      max-width: 120px;
      width: 100%;
  }
  .footer_company_text_Narek{
      max-width: 220px;
      width: 100%;
  }
  .footer_backtop_Narek{
      max-width: 120px;
      width: 100%;
  }
  .footer_backtop_text_Narek{
      max-width: 220px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
  }
  .input_1{
      max-width: 311px;
      width: 100%;
      min-height: 48px;
      background: #FBFBFB;
      border: 1px solid #F2F2F2;
      border-radius: 5px;
  }
  .input_2{
      max-width: 311px;
      width: 100%;
      min-height: 48px;
      background: #404759;
      border: 1px solid #F2F2F2;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 15px;
  }
  .style_1{
      font-size: 13px;
  }
  .style_2{
      font-size: 11px;
  }
}


@media screen and (max-width:768px) {
  .footer_div_Narek{
      min-height: 403px;
  }
  .footer_div_mini_Narek{
      min-height: 350px;
  }
  .footer_hour_Narek{
      display: none;
  }
  .hour_responsive{
      display: block;
  }
  .input_1{
      max-width: 181px;
  }
  .input_2{
      max-width: 181px;
  }
}
@media screen and (max-width:400px) {
  .footer_div_mini_Narek{
      flex-direction: column;
  }
}