*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    width: 100%;
    margin:auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.firstlist{
    max-width: 1440px;
    width: 100%;
    min-height: 40px;
    background: #404759;
    position: fixed;
    position: relative;

}

.firstlist ul{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    min-height: 40px;
    align-content: space-between;
    align-items: center;
}

.firstlist a{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;    
    text-transform: capitalize;
    color: #F5F5F5;
}


.secondlist{
    max-width: 1440px;
    width: 100%;
    min-height:50px;
    border:Solid 1px;
    position: fixed;
    background-color: white;
    position: relative;
}
         

.secondlist1{
    max-width: 1440px;
    width: 100%;
    min-height: 0px;
    height: 0px;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    transition: 1s;
    
}


.secondlist2{
    max-width: 1440px;
    width: 100%;
    min-height: 50px;
    border:Solid 1px;
}
.secondlist:hover .secondlist1{
    display: flex;
    min-height: 100px;
}


.secondlist1one{
    max-width: 100px;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 30px;
}
.secondlist1three{
    max-width: 100px;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 30px;
}
.secondlist1two{
    max-width: 1000px;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.secondlist21{
    max-width: 1440px;
    width: 100%;
    min-height: 50px;
    
}
.secondlist21 ul{
    max-width: 1440px;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.secondlist21 a{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;    
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
}
.secondlist22{
    max-width: 1440px;
    width: 100%;
    min-height: 50px;
    display: none;
    
}
.secondlist22 ul{
    max-width: 1440px;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.threelist{
    max-width: 1440px;
    width: 100%;
    min-height: 500px;
    border: Solid 1px;
    z-index: 7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
    position: absolute;
    background-color: white;
}

.threelist1{
    max-width: 400px;
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}
.threelist2{
    max-width: 800px;
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: space-around;
}


.threelist1one a{
    font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #000000;
}
.threelist1two span{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
}
.threelist1two {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    justify-content: space-around;
}

.threelist1two ul{
    display: flex;
    min-height: 150px;
    flex-direction: column;
    justify-content: space-around;
}
.threelist1one ul{
    display: flex;
    min-height: 50px;
}
.threelist2one{
    max-width: 280px;
    width: 100%;
    min-height: 400px;
 
  
}
.threelist2two span{
    max-width: 300px;
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.fourlist{
    max-width: 800px;
    width: 100%;
    min-height: 500px;
    border: Solid 1px;
    display: flex;
    align-items: flex-start;
    display: none;
    z-index: 5;
    position: absolute;
    background-color: #fff;

}


.fourlist1{
    max-width: 500px;
    width: 100%;
    min-height: 400px;
    display:none;
}
.fourlist2{
    max-width: 200px;
    width: 100%;
    min-height: 300px;
    display:none;
}
.fourlist2 ul{
    max-width: 200px;
    width: 100%;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fourlist1 ul{
    max-width: 200px;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.a6{
    margin-left: 50px;
    display: none;

}


.fourlist a{
    font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #000000;

}


.fourlist1two{
    max-width: 91px;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}



.bigimg{
    max-width: 1440px;
    width: 100%;
    min-height: 700px;
    border:Solid 5px red;
    background-image: url(img1/21.png);
}