*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    width: 100%;
    margin:auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.firstlist{
    max-width: 1440px;
    width: 100%;
    min-height: 40px;
    background: #404759;
    position: fixed;
    position: relative;

}

.firstlist ul{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    min-height: 40px;
    align-content: space-between;
    align-items: center;
}

.firstlist a{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;    
    text-transform: capitalize;
    color: #F5F5F5;
}


.secondlist{
    max-width: 1440px;
    width: 100%;
    min-height:50px;
    border:Solid 1px;
    position: fixed;
    background-color: white;
    position: relative;
}
         

.secondlist1{
    max-width: 1440px;
    width: 100%;
    min-height: 0px;
    height: 0px;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    transition: 1s;
    
}


.secondlist2{
    max-width: 1440px;
    width: 100%;
    min-height: 50px;
    border:Solid 1px;
}
.secondlist:hover .secondlist1{
    display: flex;
    min-height: 100px;
}


.secondlist1one{
    max-width: 100px;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 30px;
}
.secondlist1three{
    max-width: 100px;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 30px;
}
.secondlist1two{
    max-width: 1000px;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.secondlist21{
    max-width: 1440px;
    width: 100%;
    min-height: 50px;
    
}
.secondlist21 ul{
    max-width: 1440px;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.secondlist21 a{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;    
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
}
.secondlist22{
    max-width: 1440px;
    width: 100%;
    min-height: 50px;
    display: none;
    
}
.secondlist22 ul{
    max-width: 1440px;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.threelist{
    max-width: 1440px;
    width: 100%;
    min-height: 500px;
    border: Solid 1px;
    z-index: 7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
    position: absolute;
    background-color: white;
}

.threelist1{
    max-width: 400px;
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}
.threelist2{
    max-width: 800px;
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: space-around;
}


.threelist1one a{
    font-family: 'Proxima Nova';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #000000;
}
.threelist1two span{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
}
.threelist1two {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    justify-content: space-around;
}

.threelist1two ul{
    display: flex;
    min-height: 150px;
    flex-direction: column;
    justify-content: space-around;
}
.threelist1one ul{
    display: flex;
    min-height: 50px;
}
.threelist2one{
    max-width: 280px;
    width: 100%;
    min-height: 400px;
 
  
}
.threelist2two span{
    max-width: 300px;
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.fourlist{
    max-width: 800px;
    width: 100%;
    min-height: 500px;
    border: Solid 1px;
    display: flex;
    align-items: flex-start;
    display: none;
    z-index: 5;
    position: absolute;
    background-color: #fff;

}


.fourlist1{
    max-width: 500px;
    width: 100%;
    min-height: 400px;
    display:none;
}
.fourlist2{
    max-width: 200px;
    width: 100%;
    min-height: 300px;
    display:none;
}
.fourlist2 ul{
    max-width: 200px;
    width: 100%;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fourlist1 ul{
    max-width: 200px;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.a6{
    margin-left: 50px;
    display: none;

}


.fourlist a{
    font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #000000;

}


.fourlist1two{
    max-width: 91px;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}




.footer_div_Narek{
    max-width: 1440px;
    width: 100%;
    min-height: 303px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient( 0.25turn,#3f3e5a, #404759);
}
.footer_div_mini_Narek{
    max-width: 1440px;
    width: 95%;
    min-height: 230px;
    display: flex;
    justify-content: space-between;
}
.footer_adress_Narek{
    max-width: 350px;
    width: 100%;
}
.footer_adress_text_Narek{
    max-width: 220px;
    width: 100%;
}
.style_1{
    font-family: 'Proxima Nova', arial;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    color: #F2F2F2;
}
.style_2{
    font-family: 'Proxima Nova' , arial;
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1.2px;
    color: #F2F2F2;
}

.footer_hour_Narek{
    max-width: 200px;
    width: 100%;
}
.footer_hour_text_Narek{
    max-width: 220px;
    width: 100%;
}

.footer_gmail_Narek{
    max-width: 420px;
    width: 100%;
}
.footer_gmail_text_Narek{
    max-width: 220px;
    width: 100%;
}
.footer_company_Narek{
    max-width: 120px;
    width: 100%;
}
.footer_company_text_Narek{
    max-width: 220px;
    width: 100%;
}
.footer_backtop_Narek{
    max-width: 120px;
    width: 100%;
}
.footer_backtop_header_Narek{
    display: flex;
    justify-content: flex-end;
}
.footer_backtop_text_Narek{
    max-width: 220px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.input_1{
    max-width: 311px;
    width: 100%;
    min-height: 48px;
    background: #FBFBFB;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
}
.input_2{
    max-width: 311px;
    width: 100%;
    min-height: 48px;
    background: #404759;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 15px;
}
.footer_company_text_ul_Narek{
    list-style: none;
}
.footer_company_text_ul_Narek li a{
    font-family: 'Proxima Nova' , arial;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #F2F2F2;
}
.hour_responsive{
    display: none;
}

@media screen and (max-width:1280px) {
    .footer_adress_Narek{
        max-width: 310px;
        width: 100%;
    }
    .footer_adress_text_Narek{
        max-width: 220px;
        width: 100%;
    }
    .footer_hour_Narek{
        max-width: 200px;
        width: 100%;
    }
    .footer_hour_text_Narek{
        max-width: 220px;
        width: 100%;
    }
    .footer_gmail_Narek{
        max-width: 370px;
        width: 100%;
    }
    .footer_gmail_text_Narek{
        max-width: 210px;
        width: 100%;
    }
    .footer_company_Narek{
        max-width: 120px;
        width: 100%;
    }
    .footer_company_text_Narek{
        max-width: 220px;
        width: 100%;
    }
    .footer_backtop_Narek{
        max-width: 120px;
        width: 100%;
    }
    .footer_backtop_text_Narek{
        max-width: 220px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .input_1{
        max-width: 311px;
        width: 100%;
        min-height: 48px;
        background: #FBFBFB;
        border: 1px solid #F2F2F2;
        border-radius: 5px;
    }
    .input_2{
        max-width: 311px;
        width: 100%;
        min-height: 48px;
        background: #404759;
        border: 1px solid #F2F2F2;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 15px;
    }
    .style_1{
        font-size: 13px;
    }
    .style_2{
        font-size: 11px;
    }
}


@media screen and (max-width:768px) {
    .footer_div_Narek{
        min-height: 403px;
    }
    .footer_div_mini_Narek{
        min-height: 350px;
    }
    .footer_hour_Narek{
        display: none;
    }
    .hour_responsive{
        display: block;
    }
    .input_1{
        max-width: 181px;
    }
    .input_2{
        max-width: 181px;
    }
}
@media screen and (max-width:400px) {
    .footer_div_mini_Narek{
        flex-direction: column;
    }
}




.sixlist{
    max-width: 1440px;
    width: 100%;
    min-height: 640px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.sixlist1{
    max-width: 600px;
    width: 100%;
    min-height: 813px;
    display: flex;
    overflow: hidden;
    background-size: contain;
    align-items: flex-start;
    flex-wrap: wrap;
  
}


.slxlist1a h3{
    min-height: 65px;
}

.slxlist1a span{
    min-height: 101px;
    display: flex;
}
.slxlist1a ul{
    min-height: 88px;
    display: flex;
    align-content: stretch;
    flex-direction: column-reverse;
}
.sixlist2a h3{
    min-height: 60px;
}
.sixlist2a span{
    min-height: 151px;
    display: flex;
}

.sixlist2a ul{
    min-height: 88px;
    display: flex;
    align-content: stretch;
    flex-direction: column-reverse;
}



.sixlist2{
    max-width: 600px;
    width: 100%;
    min-height: 1000px;
    display: flex;
    overflow: hidden;
    background-size: contain;
    align-items: flex-start;
    flex-wrap: wrap;

}

.sixlist h3{
    font-family: 'Lenora LC-Trial';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 48px;
text-transform: capitalize;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
}
.sixlist span{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;    
    flex: none;
    order: 1;
    flex-grow: 0;
}


.fgh{
    max-width: 600px;
    width: 100%;
    min-height: 400px
}

.sixlist1b{
    max-width: 600px;
    width: 100%;
    min-height: 500px;
    background-image: url(./img1/44.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size:contain
}
.sixlist2b{
    max-width: 600px;
    width: 100%;
    min-height: 500px;
    background-image: url(./img1/45.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size:contain
}







.sevellist{
    max-width: 1440px;
    width: 100%;
    min-height: 640px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.sevellist1{
    max-width: 600px;
    width: 100%;
    min-height: 813px;
    display: flex;
    overflow: hidden;
    background-size: contain;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
  
}

.sevellist2a .zxc{
    display: none;;
}
.sevellista h3{
    min-height: 65px;
}

.sevellista span{
    min-height: 101px;
    display: flex;
}
.sevellist1a ul{
    min-height: 88px;
    display: flex;
    align-content: stretch;
    flex-direction: column-reverse;
}
.sevellist2a h3{
    min-height: 60px;
}
.sevellist2a span{
    min-height: 151px;
    display: flex;
}

.sevellist2a ul{
    min-height: 88px;
    display: flex;
    align-content: stretch;
    flex-direction: column-reverse;
}



.sevellist2{
    max-width: 600px;
    width: 100%;
    min-height: 1200px;
    display: flex;
    overflow: hidden;
    background-size: contain;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;

}

.sevellist h3{
    font-family: 'Lenora LC-Trial';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 48px;
text-transform: capitalize;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
min-height: 130px;
}
.sevellist span{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;    
    flex: none;
    order: 1;
    flex-grow: 0;
}


.fgh{
    max-width: 600px;
    width: 100%;
    min-height: 400px
}

.sevellist1b{
    max-width: 600px;
    width: 100%;
    min-height: 500px;
    background-image: url(./img1/51.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size:contain
}
.sevellist2b{
    max-width: 600px;
    width: 100%;
    min-height: 500px;
    background-image: url(./img1/52.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: contain;
}












.eightlist{
    max-width: 1440px;
    width: 100%;
    min-height: 640px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.eightlist1{
    max-width: 600px;
    width: 100%;
    min-height: 813px;
    display: flex;
    overflow: hidden;
    background-size: contain;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
  
}


.eightlista h3{
    min-height: 65px;
}

.eightlista span{
    min-height: 101px;
    display: flex;
}
.eightlist1a ul{
    min-height: 88px;
    display: flex;
    align-content: stretch;
    flex-direction: column-reverse;
}
.eightlist2a h3{
    min-height: 60px;
}
.eightlist2a span{
    min-height: 151px;
    display: flex;
}

.eightlista ul{
    min-height: 88px;
    display: flex;
    align-content: stretch;
    flex-direction: column-reverse;
}



.eightlist2{
    max-width: 600px;
    width: 100%;
    min-height: 1200px;
    display: flex;
    overflow: hidden;
    background-size: contain;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;

}

.eightlist h3{
    font-family: 'Lenora LC-Trial';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 48px;
text-transform: capitalize;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
min-height: 130px;
}
.eightlist span{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;    
    flex: none;
    order: 1;
    flex-grow: 0;
}


.fgh{
    max-width: 600px;
    width: 100%;
    min-height: 400px
}

.eightlist1b{
    max-width: 600px;
    width: 100%;
    min-height: 500px;
    background-image: url(./img1/53.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size:contain
}
.eightlist2b{
    max-width: 600px;
    width: 100%;
    min-height: 500px;
    background-image: url(./img1/54.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: contain;
}









.ninelist{
    max-width: 1440px;
    width: 100%;
    min-height: 640px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ninelist1{
    max-width: 600px;
    width: 100%;
    min-height: 910px;
    display: flex;
    overflow: hidden;
    background-size: contain;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
  
}
.ninelista h3{
    min-height: 65px;
}

.ninelist1a span{
    min-height: 175px;
    display: flex;
}

.ninelista ul{
    min-height: 88px;
    display: flex;
    align-content: stretch;
    flex-direction: column-reverse;
}


.ninelist h3{
    font-family: 'Lenora LC-Trial';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 48px;
text-transform: capitalize;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
min-height: 130px;
}
.ninelist span{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;    
    flex: none;
    order: 1;
    flex-grow: 0;
}


.fgh{
    max-width: 600px;
    width: 100%;
    min-height: 400px
}

.ninelist1b{
    max-width: 600px;
    width: 100%;
    min-height: 500px;
    background-image: url(./img1/55.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size:contain
}
